<h1>New Game</h1>
<br>

<% @letters.each do |letter| %>
<%= letter %>
<% end %>
<br>

<form action="/score" method="get">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" placeholder="What's the word?">
  <input type="submit">
</form>

